<div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
              <div class="page-title">
                <h1>Timeoff</h1>
              </div>
            </div>
          </div>
          <!-- /# column -->
          <div class="col-lg-4 pl-0 title-margin-left">
            <div class="page-header">
              <div class="page-title">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/approvals']">Approvals</a></li>
                  <li class="breadcrumb-item active">Timeoff</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /# column -->
        </div>
        <!-- /# row -->
      </div>


<div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <th>Employee</th>
                <th>Checkout</th>
                <th>Reason</th>
                <th>##</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="assets/images/employee/indian-office-worker-.jpg" class="emp-img">
                            </div>
                            <div class="col-sm-8">
                                Nat
                            </div>   
                        </div> 
                    </td>
                    <td>Timeoff</td>
                    <td>Asch</td>
                    <td>
                        <button type="button" class="btn btn-outline-success btn-sm m-2">Approve</button>
                        <button type="button" class="btn btn-outline-danger btn-sm">Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>