<nav class="navbar navbar-expand-sm bg-custom shadow">
    <!-- Navbar text-->
    <span class="navbar-text text-white">
      {{title}}
    </span>
</nav>

<div class="content-wrap">
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
          <div class="page-header">
            <div class="page-title">
              <h1>Hello, <span>Welcome Here</span></h1>
            </div>
          </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 pl-0 title-margin-left">
          <div class="page-header">
            <div class="page-title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active">User-Profile</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <!-- /# row -->
      <section id="main-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="user-profile">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="user-photo mb-3 overflow-hidden">
                        <img class="img-fluid" src="../assets/images/employee/user-profile.jpg" alt="" />
                      </div>
                      <div class="user-work">
                        <h4>work</h4>
                        <div class="work-content">
                          <h3>It Solution </h3>
                          <p>123, South Mugda</p>
                          <p>Pune, 1214</p>
                        </div>
                        <div class="work-content">
                          <h3>Felix</h3>
                          <p>123, Viman Nagar</p>
                          <p>Pune, 1214</p>
                        </div>
                      </div>
                      <div class="user-skill">
                        <h4>Skill</h4>
                        <ul>
                          <li>Branding</li>
                          <li>UI/UX</li>
                          <li>Web Design</li>
                          <li>Wordpress</li>
                          <li>Magento</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="user-profile-name">john doe</div>
                      <div class="user-Location"><i class="ti-location-pin"></i> Viman Nagar, Pune</div>
                      <div class="user-job-title">Web Designer</div>
                      <div class="user-send-message">
                        <button class="btn btn-primary btn-addon" type="button">Send Message</button>
                      </div>
                      <div class="user-profile-tab">
                        <ul >
                          <li >
                            About
                          </li>
                        </ul>

                            <div class="contact-information">
                              <h4>Contact information</h4>
                              <div class="phone-content">
                                <span class="contact-title">Phone:</span>
                                <span class="phone-number">+8801629599859</span>
                              </div>
                              <div class="address-content">
                                <span class="contact-title">Address:</span>
                                <span class="mail-address">123, Rajar Goli, South Mugda</span>
                              </div>
                              <div class="email-content">
                                <span class="contact-title">Email:</span>
                                <span class="contact-email">hello@Admin Board.com</span>
                              </div>
                              <div class="website-content">
                                <span class="contact-title">Website:</span>
                                <span class="contact-website">www.Admin Board.com</span>
                              </div>
                              <div class="skype-content">
                                <span class="contact-title">Skype:</span>
                                <span class="contact-skype">Admin Board</span>
                              </div>
                            </div>
                            <div class="basic-information">
                              <h4>Basic information</h4>
                              <div class="birthday-content">
                                <span class="contact-title">Birthday:</span>
                                <span class="birth-date">January 31, 1990 </span>
                              </div>
                              <div class="gender-content">
                                <span class="contact-title">Gender:</span>
                                <span class="gender">Male</span>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /# row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-title">
                <h4>Recent Project </h4>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Timesheet for staff</td>
                        <td><span class="badge badge-primary">Ongoing</span></td>
                        <td>January 22</td>
                        <td>march 22</td>
                      </tr>
                      <tr>
                        <td>Timesheet for staff</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td>January 30</td>
                        <td>march 22</td>
                      </tr>
                      <tr>
                        <td>Timesheet for staff</td>
                        <td><span class="badge badge-danger">Rejected</span></td>
                        <td>January 25</td>
                        <td>march 22</td>
                      </tr>
                      <tr>
                        <td>Timesheet for staff</td>
                        <td><span class="badge badge-primary">Ongoing</span></td>
                        <td>January 22</td>
                        <td>march 22</td>
                      </tr>
                      <tr>
                        <td>Timesheet for student</td>
                        <td><span class="badge badge-success">Complete</span></td>
                        <td>January 30</td>
                        <td>march 22</td>
                      </tr>
                      <tr>
                        <td>Timesheet for staff</td>
                        <td><span class="badge badge-danger">Rejected</span></td>
                        <td>January 25</td>
                        <td>march 22</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /# column -->
        </div>
        
      </section>
    </div>
  </div>
</div>

